<div class="container mt-4">
    <div class="tablebuys">
        <table class="table">
            <thead>
                <tr>
                    <th>PRODUCTS</th>
                    <th>PRICE</th>
                    <th>QUANTITY</th>
                    <th>SUB-TOTAL</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="product-name">BATERIA</div>
                        <div class="product-description">Roland TD-17LVX Bateria Eletrônica</div>
                    </td>
                    <td>$899</td>
                    <td>x1</td>
                    <td>$899</td>
                </tr>
                <tr>
                    <td>
                        <div class="product-name">AMPLIFICADOR</div>
                        <div class="product-description">Marshall DSL40C Amplificador</div>
                    </td>
                    <td>$39</td>
                    <td>x1</td>
                    <td>$39</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h6>Shipping Address</h6>
            <p class="contact-info">
                <strong>Carlos Victor</strong><br>
                Rua XXX, Número XXX, Fortaleza-CE, Brasil<br>
                Phone Number: +55 85 XXXX-XXXX<br>
                Email: carlos.victor@alu.ufc.br
            </p>
        </div>
        <div class="col-md-4">
            <h6>Shipping Details</h6>
            <p class="contact-info">
                Status: Delivered<br>
                Tracking Code: XXXXXXXX<br>
                Carrier: Correios
            </p>
        </div>
        <div class="col-md-4">
            <h6>Order Notes</h6>
            <p class="order-notes">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
    </div>
</div>