

<main class="container text-center my-5">
    <nav aria-label="breadcrumb" class="mb-4">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/cart">Shopping Cart</a></li>
            <li class="breadcrumb-item active" aria-current="page">Checkout</li>
        </ol>
    </nav>
    <div class="card p-5">
        <div class="card-body">
            <div class="icon-check mb-3">
                <i class="fas fa-check-circle fa-5x" style="color: var(--icons-color);"></i>
            </div>
            <h2 class="card-title">Your payment is successful</h2>
            <p class="card-text">Your order has been successfully placed. You will receive an email confirmation shortly.</p>
            <a href="/" class="btn home-button"><i class="fas fa-home"></i> Go to homepage</a>
        </div>
    </div>
</main>
