<!-- Boxes de informações pessoais e endereço -->
<div class="container">
    <h4 id="username">Hello, User</h4>
    <p>This is your profile. You can check your <a href="#" class="profile-link">Recent Purchases</a> and <a href="#" class="profile-link">Shipping Addresses</a> and also edit your <a href="#" class="profile-link">Password</a> and <a href="#" class="profile-link">Account Settings</a>.</p>
    <div class="row">

        <!-- Box de informações pessoais -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">PROFILE DETAILS</div>
                <div class="card-body" id="profile-details">
                    <!-- Detalhes do perfil serão gerados dinamicamente aqui -->
                </div>
            </div>
        </div>

        <!-- Box de endereço -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">SHIPPING ADDRESS</div>
                <div class="card-body" id="shipping-address">
                    <!-- Endereço de entrega será gerado dinamicamente aqui -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Box de compras recentes -->
<div class="container mt-4">
    <h5>RECENT PURCHASES</h5>
    <div class="card">
        <table class="table">
            <thead>
                <tr>
                    <th>ORDER ID</th>
                    <th>STATUS</th>
                    <th>DATE</th>
                    <th>TOTAL</th>
                </tr>
            </thead>
            <tbody id="purchases-table-body">
                <!-- Compras recentes serao geradas dinamicamente -->
            </tbody>
        </table>
    </div>
</div>

<script>
    // Gerar detalhes do perfil e endereço de entrega dinamicamente
    document.addEventListener('DOMContentLoaded', function () {
        fetch('/api/profile-details')
            .then(response => response.json())
            .then(data => {
                // Exibir detalhes do perfil
                const profileDetailsContainer = document.getElementById('profile-details');
                profileDetailsContainer.innerHTML = `
                    <div class="d-flex align-items-center">
                        <img src="assets/profile_pic.png" alt="Profile Image" class="profile-image">
                        <div>
                            <p class="profile-header">${data.first_name} ${data.last_name}</p>
                            <p class="profile-info">${data.city}, ${data.state}, ${data.country}</p>
                        </div>
                    </div>
                    <p class="profile-info">Email: ${data.email}</p>
                    <p class="profile-info">Security Email: ${data.email}</p>
                    <p class="profile-info">Phone Number: ${data.phone_number}</p>
                    <a class="btn btn-custom" href="/profile_config">EDIT ACCOUNT</a>
                `;

                // Exibir endereço de entrega
                const shippingAddressContainer = document.getElementById('shipping-address');
                shippingAddressContainer.innerHTML = `
                    <p class="profile-header">${data.first_name} ${data.last_name}</p>
                    <p class="address-info">${data.address}</p>
                    <p class="address-info">${data.city}-${data.state}, ${data.country}</p>
                    <p class="address-info">Phone Number: ${data.phone_number}</p>
                    <p class="address-info">Email: ${data.email}</p>
                    <a class="btn btn-custom" href="/profile_config">EDIT ADDRESS</a>
                `;

                // Atualizar o nome de usuário no Welcome (início da página)
                document.getElementById('username').textContent = `Hello, ${data.first_name}`;
            })
            .catch(error => {
                console.error('Error fetching profile details:', error);
            });
    });

    // Gerar compras recentes dinamicamente
    document.addEventListener('DOMContentLoaded', function () {
        fetch('/api/recent-purchases')
            .then(response => response.json())
            .then(purchases => {
                const purchasesTableBody = document.getElementById('purchases-table-body');
                
                //iterar para cada compra recente obtida
                purchases.forEach(purchase => {
                    const row = document.createElement('tr');

                    const orderId = document.createElement('td');
                    orderId.innerHTML = `<a href="#" class="profile-link">#${purchase.order_id}</a>`;
                    row.appendChild(orderId);

                    const status = document.createElement('td');
                    status.className = `status-${purchase.order_status.toLowerCase()}`;
                    status.textContent = purchase.order_status;
                    row.appendChild(status);

                    const date = document.createElement('td');
                    date.textContent = new Date(purchase.order_date).toLocaleDateString('pt-BR', { day: 'numeric', month: 'short', year: 'numeric', hour: '2-digit', minute: '2-digit' });
                    row.appendChild(date);

                    const total = document.createElement('td');
                    total.textContent = `$${purchase.order_total} (${purchase.order_number_items} Products)`;
                    row.appendChild(total);

                    purchasesTableBody.appendChild(row);
                });
            })
            .catch(error => {
                console.error('Error fetching recent purchases:', error);
            });
    });
</script>