/* Importa o CSS global */
@import url('/styles/style.css');
:root {
    --background-color: #EEEEEE;
    --background-clearer-color: #FFFFFF;
    --darker-color: #201E43;
    --middle-color: #134B70;
    --icons-color: #508C9B;
    --white: #FFFFFF;
    --font-color-dark:#475156;
    --border-color: #134B70;
    --hover-color: #0A2B40;
}
/* Estilos específicos para a página do produto */

.product-details {
    display: flex;
    justify-content: space-between;
    background-color: var(--background-clearer-color);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.product-images {
    max-width: 80%;
}

.main-image {
    width: 100%;
    border-radius: 10px;
}

.thumbnail-images img {
    width: 100%;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s;
}

.thumbnail-images img:hover {
    transform: scale(1.1);
}

.product-info {
    max-width: 50%;
    margin-left: 20px;
}

.product-info h2 {
    font-size: 24px;
    color: var(--darker-color);
}

.rating {
    color: #f39c12;
    margin-bottom: 10px;
}

.price {
    color: var(--middle-color);
    font-size: 32px;
    margin: 20px 0;
}

.buttons {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.quantity {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.quantity button {
    background-color: var(--hover-color);
    
}

.quantity input {
    width: 40px;
    text-align: center;
    border: 1px solid var(--border-color);
    margin: 0 5px;
    padding: 5px;
}

.product-description {
    background-color: var(--background-clearer-color);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.tabs button {
    background-color: var(--border-color);
    border: none;
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.features-shipping {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.features ul, .shipping-info ul {
    list-style-type: none;
    padding: 0;
}

.features ul li, .shipping-info ul li {
    margin-bottom: 10px;
    font-size: 16px;
    color: var(--font-color-dark);
}


.product-title {
    font-size: 24px;
    color: var(--darker-color);
}

.rating {
    font-size: 14px;
}

.product-images .main-image {
    max-width: 100%;
    border-radius: 5px;
}

.d-flex {
    display: flex !important;
    align-items: center;
}

.chat-btn {
    position: relative;
    background-color: var(--white);
    color: var(--icons-color);
    
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.chat-btn:hover {
    background-color: var(--hover-color);
    color: var(--white);
}

.chat-btn.active {
    background-color: var(--active-color);
    color: var(--text-color);
}

.btn{
    background-color: var(--icons-color);
    border: var(--icons-color);

}




.video img {
    max-width: 20%;
    border-radius: 5px;
}

.btn-primary {
    color: #fff;
    background-color: var(--middle-color);
    border-color: var(--middle-color);
}

.quantity input {
    max-width: 60px;
}

.product-description {
    background-color: var(--background-clearer-color);
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}



.guarantee {
    font-size: 14px;
    color: var(--darker-color);
}

.product-shipping h5, .product-features h5 {
    font-weight: bold;
    color: var(--darker-color);
}

.product-shipping ul li, .product-features ul li {
    font-size: 14px;
    color: var(--font-color-dark);
}


.quantity-input {
    max-width: 150px;
}

#add-to-cart, #buy-now {
    white-space: nowrap;
}

#button-minus, #button-plus {
    width: 40px;
}

#buy-now {
    max-width: 30%;
    color:var(--icons-color);
    background-color: var(--white);
    border-color: var(--icons-color);
}

#add-to-cart{
    margin:0 2em;
    background-color: var(--icons-color);
    color: var(--white);
}

#meuVideo{
    max-width: 80%;
}

.toggle-container {
    margin: 20px;
}

#tab-checkbox {
    display: none;
}

#tab-label {
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--background-color-clearer); /* Cor de fundo branca */
    color: var(--icons-color); /* Cor da fonte azul */
   
    border-bottom:2px solid var(--icons-color) ;
    
    text-align: center;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

#tab-label:hover {
    background-color: var(--icons-color); /* Cor de fundo azul ao passar o mouse */
    color: var(--white); /* Cor da fonte branca ao passar o mouse */
}

.tab-content {
    display: none;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid var(--background-color);
    border-radius: 4px;
    background-color: var(--background-color);
}

#tab-checkbox:checked ~ .tab-content {
    display: block;
}