<div class="container d-flex justify-content-center align-items-center">
    <div class="login-box">
        <div class="login-toggle">
            <a class="btn btn-toggle" id="login-btn" href="/login">Login</a>
            <a class="btn btn-toggle active" id="signup-btn">Sign up</a>
        </div>
        <form>
            <div class="form-group">
                <label for="email">Name</label>
                <input type="email" class="form-control" id="name">
            </div>
            <div class="form-group">
                <label for="email">Email Address</label>
                <input type="email" class="form-control" id="email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password">
            </div>
            <div class="form-group">
                <label for="password">Confirm Password</label>
                <input type="password" class="form-control" id="confirm_password">
            </div>
            <div class="form-group">
                <input type="checkbox" id="conta_vendedor">
                <label for="conta_vendedor">Create account as <a href="#" class="seller-link">Seller</a></label>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Sign up</button>
        </form>
    </div>
</div>